<div id="<%= dom_id merchant %>">
  <p>
    <strong>Name:</strong>
    <%= merchant.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= merchant.owner %>
  </p>

  <p>
    <strong>Branch count:</strong>
    <%= merchant.branch_count %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= merchant.phone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= merchant.location %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= merchant.whatsapp %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= merchant.instagram %>
  </p>

</div>
